.card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #F64C72, 0 3px 6px #F64C72;
    text-align: left;
    cursor: pointer;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  
  .Artist:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
    cursor: pointer;
  }
  
  .Artist:active{
    transform: translateY(-1px);
    box-shadow: 0 3.3px 6.67px rgba(0, 0, 0, .7)
  }

  .disabled {
    cursor:default;
  }
  