.card {
    margin: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .img-container {
    overflow: hidden;
    background:#191919;
    color: #191919;
  }

  li{
    display:flex;
    color: #F7BA00;
    font-family: Aveden;

  }