#root{
  background-color: #191919;
}
.App {
  text-align: center;
}
.mainContainer {
  background-color:  #191919;
  align-items: center;
  margin-top: 40px;
}
.homeContainer {
  align-items: center;
  background-color: #191919;
}

div p button {
  color: #f7ba00;
  border-style: solid;
  border-color: #c12a75;
  margin-left: 10px;
  margin-top: 10px;
}

div div div button span {
  color: gold !important;
}

.modal-header {
  border-bottom: 0 none !important;
}

.modal-footer {
  border-top: 0 none !important;
}
