#signupMessageContainer {
    background-color: #191919;
}

.signupMessageHeader {
    padding-top:20px;
    color:  #C12A75;
    background-color: #191919;
}

#signupMessage {
    color: #C12A75;
    background-color: #191919;
}

/* Submit button */
.btn-secondary {
    background-color: #C12A75 !important;
    width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#signupMessageBtn:hover {
    background-color: #C87EA3 !important;
}

#signupMessageBtn:active {
    background-color: #C12A75 !important;
    box-shadow: none !important;
}

#signupMessageBtn:focus {
    background-color: #C12A75 !important;
    box-shadow: none !important;
}