#signupContainer {
    background-color: #191919 !important;
    margin: 1rem;
    padding: 1rem;
}

.btn-secondary {
    background-color: #C12A75 !important;
    border-color: #C87EA3 !important;
    width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#signupMessageBtn:hover {
    background-color: #C87EA3 !important;

}

#signupMessageBtn:active {
    background-color: #C12A75 !important;
    box-shadow: none !important;
}

#signupMessageBtn:focus {
    background-color: #C12A75 !important;
    box-shadow: none !important;
}

.signupMessageHeader {
    color: #C12A75;
}

.signupMessage {
    color: #C12A75;
}

