.selectorText {
    color: #C12A75; 
}

#playstop {
    color: #C12A75;
}

#bpmValue {
 color: #7D7D7D;
}

#sliderText {
    color: #7D7D7D;
}

.bpmControl {
    margin-top: 10px;
    margin-bottom: 10px;
}

#checkboxCSS {
    margin-left: 5px;
    margin-bottom: 10px;
    height: 25px;
    width: 25px;
}
