#bpmValue {
 color: #f7ba00;
 margin-left: 5px;
}

#checkboxCSS {
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

#soundList {
    color: #f7ba00;
}

#playPause {
    color: #f7ba00;
    margin-left: 10px;
}