#bpmValue {
 color: #f7ba00;
 margin-left: 5px;
}

#checkboxCSS {
    margin-left: 5px;
    height: 25px;
    width: 25px;
    background-color: #191919;
}

#soundList {
    color: #f7ba00;
}

#playPause {
    color: #f7ba00;
    margin-left: 10px;
    border-style: solid;
    border-color: #c12a75;
}

#equalizer {
    border-style: solid;
    border-color: #c12a75;
}