.container {
    border-radius: 2rem;
  border-style: solid;
  border-width: thick;
  border-color: #F7BA00;
}

.bpmControl {
    margin-top: 10px;
    margin-bottom: 10px;
}

#text {
    color: white;
}

#checkboxCSS {
    margin-left: 5px;
    margin-bottom: 10px;
    height: 25px;
    width: 25px;
}
