.containerCustom {
  display: flex;
  justify-content: space-evenly;


}

.gridRow {
  order: 0;
  margin: 1rem;
  background-color: #191919;
  border-style: solid;
  border-width: thin;
  border-color: #C12A75;
}


.gridRow:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, .5);
}

.gridRow:active{
  transform: translateY(-1px);
  box-shadow: 0 3.3px 6.67px rgba(0, 0, 0, .7)
}

.btnText {
  color: #F7BA00;
  background-color: #191919;
}

.btnText {
  margin: 1rem;
  text-align: center;
  background-color: #191919;
}

.landingImg {
  height: 14rem;
  margin: 1rem;
  padding: 1rem;
}