#editAboutBtn {
    height: 20px;
    cursor: pointer;
}

#title {
    color: #f7ba00;
}

#submitButton {
    color: #c12a75;
}

#customModal {
    box-shadow: 0 4px 8px #f7ba00;
}


#editInput {
    background-color: #3A3A3A;
    color: #fff;
    box-shadow: none;
    border-color: #c12a75;
}

#editInput::placeholder {
    color: #6C757D;
}