.container {
  background-color: #2d2d2d;
  /* margin-bottom: 60px; */
}
#avatarShape {
  border-radius: 50%;
}
.profile {
  text-align: center;
  border: solid 1px #f7ba00;
  background-color: #2d2d2d;
  padding: 12px;
}
#browseArtist {
  font-size: 10px;
  color: #ffe187;
  background-color: #3a3a3a;
}
.userConnections {
  padding: 2px;
  color: #ffe187;
  background-color: #3a3a3a;
}
.userMessages {
  padding: 2px;
  background-color: #3a3a3a;
  color: #ffe187;
}
.stage {
  color: #f7ba00;
  font-size: 30px;
  background-color: #2d2d2d;
  font-family: "Aveden";
}
.info {
  color: #f7ba00;
  background-color: #2d2d2d;
  font-size: 12px;
}
#connectionsHeader {
  font-size: 9px;
  color: #ffe187;
  background-color: #3a3a3a;
  display: block;
}
#messagesHeader {
  font-size: 9px;
  color: #ffe187;
  background-color: #3a3a3a;
}
#connectionsBox {
  background-color: #3a3a3a;
  font-size: 14px;
}
#imagesBoxID {
  background-color: #3a3a3a;
  font-size: 14px;
  display: inline-block;
}
#messageBox {
  background-color: #3a3a3a;
  font-size: 10px;
}
#imageLink {
  width: 0.2rem;
  padding:0.2rem;
  text-decoration: none;
}
.browse {
  background-color: #191919;
  margin-top: 20px;
  /* margin-left: 50px; */
  text-align: center;
  padding: 20px;
  display: inline-block;
}
.browseArtistsLink {
  color: #F7BA00;
  text-decoration: none;
  background-color: #191919;
  font-family: "Avenir";
}

.browseArtistsLink:hover {
  color: #C12A75;
}
#mixesSelection {
  background-color: #2D2D2D;;
  color: #7D7D7D;
  border-color: #f7ba00;
}

#mixSelectorOption {
  color: #fff;
  background-color: #3a3a3a;
  box-shadow: none;
  border-color: #f7ba00;
}
#mixesSelection:active {
  box-shadow: none !important;
  border-color: #f7ba00 !important;
}
#mixesSelection:focus {
  box-shadow: none !important;
  border-color: #f7ba00 !important;
}
#mixSelectorOptionItems {
  color: #fff;
  background-color: #3a3a3a;
}