.connections {
    background-color: #191919;
    color: #F7BA00;
    border: 2px solid #F7BA00;

}

.messages {
    background-color: hsl(0, 0%, 49%);
    color: #F7BA00;
    border: 2px solid #F7BA00;
    border-radius: 3px;
}