.navbar {
    background-color: #191919;
}
.fader {
    color: #C12A75;
    font-size: 24px;
}

.login {
    color: #C12A75;
}

.loginLink:hover {
    color: #C12A75;
}

#navButtons {
    color: #F7BA00;
    font-family: 'Avenir';
    
}

.profileLink {
    color: #F7BA00;
}

.profileLink:hover {
    color: #C12A75;
}

.logoutLink:hover {
    color: #C12A75;
}

#navButtons a {
    color: #F7BA00;
    font-family: 'Avenir';
    text-decoration:none;
    cursor: pointer;
}
