#loginMessageContainer {
    background-color: #191919;
}

.loginMessageHeader {
    padding-top:20px;
    color:  #C12A75;
    background-color: #191919;
}

#loginMessage {
    color: #C12A75;
    background-color: #191919;
}

/* Submit button */
.btn-secondary {
    background-color: #C12A75;
    width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#loginMessageBtn:hover {
    background-color: #C87EA3 !important;
}

#loginMessageBtn:active {
    background-color: #C12A75 !important;
    box-shadow: none !important;
}

#loginMessageBtn:focus {
    background-color: #C12A75 !important;
    box-shadow: none !important;
}