#loginContainer {
    background-color: #191919 !important;
    margin: 1rem;
    padding: 1rem;
}

.btn-secondary {
    background-color: #C12A75 !important;
    border-color: #C87EA3 !important;
    width: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#loginMessageBtn:hover {
    background-color: #C87EA3 !important;

}

#loginMessageBtn:active {
    background-color: #C12A75 !important;
    box-shadow: none !important;
}

#loginMessageBtn:focus {
    background-color: #C12A75 !important;
    box-shadow: none !important;
}

.loginMessageHeader {
    color: #C12A75;
}

.loginMessage {
    color: #C12A75;
}